# --- Python -------------------------------
__pycache__/
*.py[cod]
.vent
vent/
.env

# --- NET ----------------------------------
bin/
obj/
*.user

# --- SysOp --------------------------------
Thumbs.db
.DS_Store